/* Global Styles */
:root {
  /* --primary-color: #17a2b8; */
  --primary-color: #5851db;
  --dark-color: #343a40;
  /* --light-color: #f4f4f4; */
  --light-color: #262529;
  --danger-color: #dc3545;
  /* --success-color: #28a745; */
  --success-color: rgb(76, 207, 118);
  --bg: url("./img/bg.jpg");
  --bg-color: #1e1d21;
  --borderFormEls: hsl(0, 0%, 10%);
  --bgFormEls: hsl(0, 0%, 14%);
  --pink: rgb(225, 48, 108);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  /* background-color: #fff; */
  /* color: #333; */
  background-color: var(--bg-color);
  color: #bbb;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Utilities */
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  /* margin-bottom: 1rem; */
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-dark {
  color: var(--dark-color);
}

/* Padding */
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}

.btn {
  display: inline-block;
  background: var(--light-color);
  /* color: #333; */
  color: var(--pink);
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.badge {
  font-size: 0.8rem;
  padding: 0.1rem;
  text-align: center;
  margin: 0.3rem;
  background: var(--light-color);
  /* color: #333; */
  color: var(--pink);
}

.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  /* color: #333; */
  color: var(--pink);
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.alert-white {
  /* background: #fff; */
  /* color: #333; */
  /* border: #ccc solid 1px; */
  background: #262529;
  color: #aaa;
}
.btn:hover {
  opacity: 0.8;
}

.bg-light,
.badge-light {
  /* border: #ccc solid 1px; */
}
.dash-buttons a {
  margin-bottom: 0.5rem !important;
  transition: all 0.3s ease-in-out;
}
.dash-buttons a:hover {
  transform: scale(1.1);
}
.round-img {
  border-radius: 50%;
}

.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}

/* Overlay */
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Forms */
.form .form-group {
  margin: 1.2rem 0;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #666;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"],
.form input[type="date"],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  /* border: 1px solid #ccc; */
  border: 1px solid var(--borderFormEls);
  background-color: var(--bgFormEls);
  color: #bbb;
  transition: all 0.3s ease;
}

.form input[type="text"]:focus,
.form input[type="email"]:focus,
.form input[type="password"]:focus,
.form input[type="date"]:focus,
.form select:focus,
.form textarea:focus {
  outline-color: var(--pink);
  border: 1px solid var(--borderFormEls) !important;
  background-color: var(--bgFormEls);
  color: #bbb;
  transform: scale(1.02);
}

.form input[type="submit"],
button {
  font: inherit;
}

.form .social-input {
  display: flex;
}

.form .social-input i {
  padding: 0.5rem;
  width: 4rem;
}

.form .social-input i.fa-twitter {
  color: #38a1f3;
}
.form .social-input i.fa-facebook {
  color: #3b5998;
}
.form .social-input i.fa-instagram {
  /* color: #3f729b; */
  color: var(--pink);
}
.form .social-input i.fa-youtube {
  color: #c4302b;
}
.form .social-input i.fa-linkedin {
  color: #0077b5;
}

.table th,
.table td {
  padding: 1rem;
  text-align: left;
}

.table th {
  background: var(--light-color);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px var(--dark-color);
  opacity: 1;

  background: var(--bg-color);
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
  transition: all 0.3s ease-in-out;
}

.navbar a:hover {
  /* color: var(--primary-color); */
  color: var(--pink) !important;
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

.logoutAvatar {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
/* Landing Page */
.landing {
  position: relative;
  background: var(--bg) no-repeat center center/cover;
  height: 100vh;
}

.landing-inner {
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.landing-inner h1,
p {
  position: relative;
  top: 15%;
}
.buttons {
  position: relative;
  top: 15%;
}
/* Profiles Page */
.profile {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  align-items: center;
  grid-gap: 2rem;
  padding: 1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
}
.profile img {
  height: 200px;
  width: 200px;
  margin: auto;
}
/* Profile Page */
.profile-grid {
  display: grid;
  grid-template-areas:
    "top top"
    "about about"
    "exp edu"
    "cert cert"
    "github github";
  grid-gap: 1rem;
}

.profile-top {
  grid-area: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile-top img {
  width: 250px;
}

.profile-top .icons a i {
  color: var(--pink);
  margin: 0 0.3rem;
  transition: all 0.3s ease-in-out;
}

.profile-top .icons a i:hover {
  color: var(--dark-color) !important;
}
.profile-company {
  position: relative !important;
  bottom: 0rem !important;
}
.profile-about {
  grid-area: about;
  text-align: center;
}

.profile-about .skills {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile-exp {
  grid-area: exp;
}

.profile-edu {
  grid-area: edu;
}

.profile-exp h2,
.profile-edu h2 {
  margin-bottom: 1rem;
}

.profile-exp > div,
.profile-edu > div {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: #ccc 1px dotted;
}

.profile-exp > div:last-child,
.profile-edu > div:last-child {
  border: 0;
}

.profile-exp p,
.profile-edu p {
  margin: 0.5rem 0;
}
.profile-cert {
  grid-area: cert;
}
.cert {
  background-color: var(--light-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1.5 0 rem;
  padding: 1rem;
  height: 34vh;
  border-bottom: 1px solid #000;
}

.certs {
  margin-top: 1.5rem;
}
.cert-img {
  height: 180px;
  width: 250px;
  transition: all 0.5s ease;
  /* margin: 0 2rem; */
}
.cert-img:hover {
  transform: scale(1.3);
}
.cert .cert-desc {
  height: 23vh;
  width: 40vw;
}
.profile-github {
  grid-area: github;
}

.profile-github .repo {
  display: flex;
  /* flex-direction: row; */
  flex-direction: column;
}

.profile-github .repo > div:first-child {
  flex: 7;
  flex-basis: 70%;
}

.profile-github > div:last-child {
  flex: 3;
  flex-basis: 20%;
}

.githubBadges {
  display: flex !important;
  flex-direction: row !important;
}
.githubBadges li button {
  width: 140px;
  height: 45px;
  font-size: 1.1rem;
  font-weight: 500;
}

/* Posts Page */
.post-form .post-form-header {
  background: var(--primary-color);
  padding: 0.5rem;
}

.post {
  /* display: grid;
  grid-template-columns: 1fr 4fr; */
  /* grid-gap: 2rem; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.post > div:first-child {
  text-align: center;
}

.post img {
  height: 120px;
  width: 120px;
}

.post {
  background: var(--light-color);
  color: var(--primary-color);
  padding: 0.1rem 0.2rem;
  border-radius: 5px;
  font-size: 0.8rem;
}

.postImage {
  position: relative;
  top: 1rem;
}

.singlepost {
  display: flex;
  flex-direction: column;
}
.singlepost img {
  display: block;
  height: 250px;
  width: 250px;
  margin: 0 auto;
}
.singlepost h4 {
  font-size: 1.5rem;
  margin-top: 1rem;
  text-align: center;
}
.postText {
  max-width: 90%;
  text-align: center;
  margin: 3rem auto;
}
.post-date {
  text-align: right;
}
.likesTitle {
  font-size: 2.5rem;
  margin: 3rem;
}
.likes {
  height: 100%;
  width: 100%;
  margin: 0 0rem;
}

.like {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 150px;
  width: 80vw;
  margin: 2rem 0;
  border: 1px var(--borderFormEls) solid;
  background-color: var(--light-color);
}
.like img {
  width: 7rem;
  height: 7rem;
}
.like h5,
.like h6 {
  margin: auto 0;
  display: inline;
}
.like h5 {
  font-size: 1.8rem;
}

.deleteIcon {
  margin-left: 2rem;
}

.comment-count {
  padding: 0.15rem 0.3rem;
  margin-left: 0.1rem;
  font-size: 0.8rem;
  border-radius: 50%;
  background: #262529;
  color: var(--pink);
}

.post .ste {
  color: #aaa;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.certificate-input {
  margin: 3rem;
}

.certificates {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.certificate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--light-color);
  margin: 1rem;
}
.certificate-img {
  height: 170px;
  width: 300px;
  margin-left: 1rem;
  transition: all 0.8s ease;
}
.certificate-img:hover {
  transform: scale(1.4);
}
.certificate .desc {
  height: 200px;
  width: 450px;
  margin: 1.5rem 0 1rem 1rem;
  text-align: left;
  display: flex;
  align-items: flex-start;
}
.certificate-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-section {
  display: flex;
  flex-direction: column;
}
.about-heading {
  text-align: center;
  font-size: 2.3rem;
  color: var(--success-color);
  margin-bottom: 1.5rem;
  border-left: 4px solid var(--success-color);
}
.about-section img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: 1rem auto;
}
.about-section p {
  color: #ddd;
}
.about-section h1 {
  text-align: center;
  margin: 1rem 0;
}
.about-section .social-icons {
  text-align: center;
}
.about-section .social-icons i {
  margin: 0 1rem;
  font-size: 1.7rem;
  transition: all 0.4s ease;
  color: var(--primary-color);
}
.about-section .social-icons i:hover {
  color: var(--dark-color);
}

.notfound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.notfound img {
  height: 400px;
  width: 70%;
  margin: 1.7rem 0;
}
/* Mobile Styles */
@media (max-width: 700px) {
  .container {
    margin-top: 8rem;
  }

  .hide-sm {
    display: none;
  }

  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  /* Navbar */
  .navbar {
    display: block;
    text-align: center;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }

  .navbar h1 {
    margin-bottom: 1rem;
  }

  .navbar .welcome {
    display: none;
  }
  .landing-inner h1,
  p {
    position: relative;
    top: 2%;
  }
  .buttons {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 6%;
  }
  .buttons button {
    margin: 0 0.5rem 0;
  }
  /* Profiles Page */
  .profile {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .logoutAvatar {
    display: none;
  }

  .profile ul {
    display: none;
  }

  /* Profile Page */

  .profile-top img,
  .profile img {
    height: 200px;
    width: 200px;
    margin: auto;
  }
  .profile-top h1 {
    font-size: 1.6rem;
    margin: 1rem 0;
  }
  .profile-grid {
    grid-template-areas:
      "top"
      "about"
      "exp"
      "edu"
      "cert"
      "github";
  }
  .profile-about .skills {
    flex-direction: column;
  }
  .abt-bio {
    text-align: left;
    padding: 1;
    height: 80px;
    width: 100%;
  }

  .certs {
    margin-top: 1.5rem;
  }
  .cert {
    background-color: var(--light-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    height: 50vh;
    width: 100%;
    border-bottom: 1px solid #000;
  }
  .cert-img {
    height: 180px;
    width: 250px;
    transition: all 0.5s ease;
    /* margin: 0 2rem; */
  }
  .cert-img:hover {
    transform: scale(1.3);
  }
  .cert .cert-desc {
    /* height: 30%; */
    width: 100%;
  }

  .dash-buttons a {
    display: block;
    width: 100%;
    margin-bottom: 0.2rem;
  }

  .post {
    grid-template-columns: 1fr;
  }
  .post a,
  .post button {
    padding: 0.3rem 0.4rem;
  }
  .post {
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    /* grid-gap: 2rem; */
    height: 25vh;
  }
  .post img {
    height: 100px;
    width: 100px;
  }
  .postImage {
    position: relative;
    top: 1.5rem;
  }

  .singlepost img {
    display: block;
    height: 150px;
    width: 150px;
    margin: 0 auto;
  }
  .singlepost h4 {
    font-size: 1.5rem;
    margin-top: 1rem;
    text-align: center;
  }
  .postText {
    max-width: 100%;
    text-align: center;
    margin: 2rem auto 1rem;
  }
  .post-date {
    text-align: right;
  }
  .likesTitle {
    font-size: 1.8rem;
    margin: 3rem;
  }
  .likes {
    height: 100%;
    width: 100%;
    margin: 0 0rem;
  }

  .like {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    width: 83vw;
    margin: 1rem 0;
    border: 1px var(--borderFormEls) solid;
    background-color: var(--light-color);
  }
  .like img {
    width: 4rem;
    height: 4rem;
    margin-left: 1rem;
    margin-right: 1.1rem;
  }
  .like h5,
  .like h6 {
    margin: auto 0;
    display: inline;
  }
  .like h5 {
    font-size: 1.2rem;
  }

  .deleteIcon {
    cursor: pointer;
    margin-left: 0rem;
    font-size: 1.1rem !important;
  }

  .repo {
    padding-left: 0rem;
    padding-right: 0rem;
    width: 100%;
  }
  .repo div h4 a,
  .git-desc,
  .githubBadges {
    position: relative;
    left: 0.5rem;
  }
  .githubBadges {
    display: flex !important;
    flex-direction: row !important;
    padding: 0;
  }
  .githubBadges li button:first-child {
    margin-left: 0.1rem;
  }
  .githubBadges li button {
    width: 85px;
    height: 32px;
    font-size: 0.7rem;
    font-weight: 500;
    margin-right: 0.7rem;
    margin-left: 0.5rem;
  }
  .git-desc {
    width: 95%;
    margin: 0;
    /* height: 90px; */
  }
  .certificates {
    display: flex;
    flex-direction: column;
    padding: 0rem;
  }
  .certificate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0 0.5rem 0;
    background-color: var(--light-color);
  }
  .certificate-img {
    height: 200px;
    width: 100%;
    margin-left: 0rem;
    margin-bottom: 0.5rem;
  }
  .certificate-img:hover {
    transform: scale(1.1);
  }
  .certificate .desc {
    display: none;
  }
  .certificate-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  /* about page */
  .about-section {
    padding-bottom: 1rem;
  }
  .about-heading {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .about-section img {
    height: 120px;
    width: 120px;
    margin-top: 0;
  }
  .about-section h1 {
    text-align: center;
    margin: 1rem 0;
  }
  .about-section .social-icons {
    text-align: center;
  }
  .about-section .social-icons i {
    margin: 0 1rem;
    font-size: 1.7rem;
    transition: all 0.4s ease;
    color: var(--primary-color);
  }
  .about-section .social-icons i:hover {
    color: var(--dark-color);
  }
  .about-descr {
    text-align: justify;
  }
  .notfound {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .notfound img {
    height: 300px;
    width: 100%;
    margin: 3rem 0 2rem 0;
  }
  .notfoundButtons {
    margin: 1rem;
    display: flex;
  }
  .notfoundButtons button {
    margin-right: 0rem;
  }
}
